.CheckBox{
    
    display: flex;
    gap: 10px;
    align-items: center;

    input{
        display: none;
        & + label{
            width: 20px;
            height: 20px;
            display: block;
            border: var(--border);
            border-radius: 4px;
            cursor: pointer;
            color: transparent;
            transition: all .3s;
            transform: rotate(-90deg);
            background-color: var(--white-color);
        }
        &:checked{
            & + label{
            background-color: #2196f3;
            color: var(--white-color);
            font-weight: bold;
            border-color: #2196f3;
            font-size: 16px;
            opacity: 1;
            transform: rotate(0);
            }
        }
    }
    .label{
        cursor: pointer;
        display: block;
        width: 100%;
    }
 
  }