
.PaginationTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    left: 0;
    border-top: var(--border);
    .result{
        color: var(--dark-grey);
        display: flex;
        align-items: center;
        gap: 10px;
        select{
            border: 2px solid var(--main-color);
            background: var(--light-grey);
            color: var(--text-color);
            padding: 5px;
            font-weight: bold;
            border-radius: 7px;
            outline: none;
        }
    }
    .pagination{
        display: flex;
        justify-content: end;
        gap: 10px;
        align-items: center;
        background: var(--white-color);
        .pager{
            color: var(--dark-grey);
            width: 35px;
            display: grid;
            place-content: center;
            height: 35px;
            border-radius: 50%;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            &.active{
                background: var(--main-color);
                color: #fff;// var(--white-color);
            }
            &:not(.active):hover{
                background: var(--grey);
            }
            &.previous,&.next{
                font-size: 25px;
                background: var(--grey);
            }
            &.disabled{
                opacity: .5;
            }
        }
    }
}