.BtnsFooter{
    border-top: var(--border);
    padding-top: var(--pd);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    // padding-bottom: var(--pd);
    margin: var(--pd) 0;
    .box{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }
}